workflows/AgriVerse-n8n-Workflow-Groq.json
{
  "name": "AgriVerse-n8n-Workflow-Groq",
  "nodes": [
    {
      "parameters": {
        "operation": "5DayForecast",
        "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        -560,
        560
      ],
      "id": "89060031-8f16-4cff-ac18-695cefee610d",
      "name": "OpenWeatherMap",
      "alwaysOutputData": false,
      "credentials": {
        "openWeatherMapApi": {
          "id": "ClwNU3GOz0i0BbAa",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a helpful AI agricultural assistant that provides advice on crop varieties based on weather conditions.\n\nFor example:\nfor query like: Given the current weather in Delhi (overcast clouds, 29.63°C, 67% humidity, 4.83 m/s wind), what variety of rice should I go for?\n\nPass something like this to the queryVectorDB -> pass it like this: what variety of rice should I go for with weather having and overcast humidity?"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        288,
        336
      ],
      "id": "17460ac4-92c8-46b1-8502-749ca80c9e74",
      "name": "Crop & Agri Assistant1"
    },
    {
      "parameters": {
        "content": "",
        "height": 544,
        "width": 496,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        272
      ],
      "typeVersion": 1,
      "id": "62601b87-a8b1-44d4-a8a6-515c8002ae3e",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "",
        "height": 544,
        "width": 496,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        656,
        272
      ],
      "typeVersion": 1,
      "id": "aa3c7d46-66b4-4092-a523-3c513e72749f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "",
        "height": 544,
        "width": 496,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        272
      ],
      "typeVersion": 1,
      "id": "29de197b-df68-4c55-af4c-992a53ff9d60",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 544,
        "width": 496,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        272
      ],
      "typeVersion": 1,
      "id": "99ac5963-cc71-41b2-a9ac-6d13256e2305",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -112,
        480
      ],
      "id": "5ea2ec99-453f-4780-aab0-5c3fd1cbbb46",
      "name": "Calculator1"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a Market Price Retriever agent. Your task is to fetch the current mandi and commodity prices based on the user's query. Provide the price for the specified commodity in the given location\n\nFor getMandiPrice\nAkways pass the State first, then district and at last the commodity\nfor example: \nquery: What is the current mandi price for tomato in Ludhiana, Punjab?\npass it as: Punjab, Ludhiana, Tomato"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -272,
        288
      ],
      "id": "b22ce6ae-7fbe-472b-a21c-48147fa297cb",
      "name": "Market Price Retriever1"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a helpful AI Policy and Finance assistant that provides advice on how to manage your expenses and latest agriculture related schemes and plociies provided by the Indian Government.\n\nPass the user query to queryFinanceVectorDB and give appropriate output from it."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        784,
        288
      ],
      "id": "846f30d7-b3ec-4d26-b63f-a6e438eb8adb",
      "name": "Policy & Finance Assistant1"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -752,
        336
      ],
      "id": "881a589e-c665-482e-9ee2-9f10619cc476",
      "name": "Weather & Geo Location Agent1"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        768,
        512
      ],
      "id": "193516b1-9e94-4346-b076-efc426f64c60",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "MtV3AREYxYQJd4NK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        272,
        576
      ],
      "id": "cbbe154e-d4d3-4e78-ba4f-d287fd91ddf2",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "MtV3AREYxYQJd4NK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -320,
        688
      ],
      "id": "fd24db9b-43f5-4120-bbcc-ea1d21d525f6",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "MtV3AREYxYQJd4NK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -784,
        576
      ],
      "id": "4250155e-d654-44a8-9df2-0d8b149ee323",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "MtV3AREYxYQJd4NK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1248,
        240
      ],
      "id": "45941b06-3633-4e08-8f69-d78010705a9d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "MtV3AREYxYQJd4NK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "my-endpoint",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {
          "binaryPropertyName": "audio",
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -736,
        0
      ],
      "id": "04d7aa38-e40c-40fc-9ecd-5e144542057d",
      "name": "Webhook",
      "webhookId": "1a28743f-1c7b-43e6-acb4-79bfd16aaafc",
      "notesInFlow": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "<role> You are the Orchestrator Agent, a specialized AI system that coordinates multiple agricultural assistant agents. Your role is to understand the user’s query, decide which specialized agent(s) to call, gather their outputs, and deliver a clear, concise, and reliable agricultural advisory response. </role>\n\n<instructions>\n\n<core_instruction>\nStep 1: Always translate the user’s input into English first, regardless of whether it is in Hindi, Punjabi, Hinglish, or any other language. After translation, proceed with the remaining steps.\n</core_instruction>\n\n<execution_rules>\n\n- You are ONLY an orchestrator. You must NOT solve queries using your own knowledge unless no connected agent exists.\n- Every agriculture-related query MUST be routed to one or more agents before answering.\n- Never skip agent routing.\n- Never provide internal reasoning, chain-of-thought, or step-by-step analysis.\n- Never output phrases like:\n  \"Step 1\", \"Step 2\", \"Analyze Image\", \"Based on general knowledge\".\n- Only output the final consolidated advisory response.\n\n</execution_rules>\n\n<image_rules>\n\n- If an image is given, first detect whether it is agriculture related.\n- If agriculture related, understand image + text query together.\n- Then MUST route query to relevant agents.\n- Example:\n   Soil image → Crop & Agri Assistant\n   Diseased leaf image → Crop & Agri Assistant\n   Farm weather image + rainfall question → Weather Agent\n   Crop image + mandi price question → Market Price Retriever\n\n- If image is non-agriculture related:\n  Return: \"This image is not agriculture related.\"\n\n- If image unclear:\n  Return: \"Please upload a clearer agriculture-related image.\"\n\n</image_rules>\n\n<routing_logic>\n\n- Weather / rainfall / forecast / temperature / irrigation timing\n  → Weather & Geo Location Agent\n\n- Crop selection / soil type / fertilizers / pests / disease / yield / cultivation\n  → Crop & Agri Assistant\n\n- Mandi / rates / market / prices / commodity trends\n  → Market Price Retriever\n\n- Subsidy / scheme / loan / insurance / PM-Kisan / finance\n  → Policy & Finance Assistant\n\n- Multi-domain queries → combine outputs from multiple agents\n\n</routing_logic>\n\n<mandatory_rules>\n\n- If user asks soil type from image:\n   First route image to Crop & Agri Assistant for soil classification.\n   Then ask same agent for suitable crops.\n\n- If critical info missing (location / season / crop):\n   Ask concise follow-up question.\n\n- Do not hallucinate data.\n- Use only connected agent outputs.\n\n</mandatory_rules>\n\n<output_format>\n\n- Start directly with recommendation.\n- Then short bullets if needed.\n- No reasoning steps.\n- No mention of internal routing.\n- Match user language (Hindi input → Hindi output).\n\n</output_format>\n\n</instructions>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "278e5dc5-6acc-4f74-acd1-c085229348d4",
      "name": "Orchestrator Agent",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -1104,
        272
      ],
      "id": "739a4ccf-7cd3-44e6-b249-ed2388aa43d7",
      "name": "Think"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the Current Daily Price of Various Commodities from Various Markets (Mandi)",
        "url": "https://api.data.gov.in/resource/9ef84268-d588-465a-a308-a864a43d0070",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "filters[state.keyword]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"
            },
            {
              "name": "=filters[district]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"
            },
            {
              "name": "filters[commodity]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true,
        "dataField": "="
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -224,
        512
      ],
      "id": "b1686f13-4ecf-4617-aff5-817431ad038f",
      "name": "GetMandiPrice",
      "credentials": {
        "httpQueryAuth": {
          "id": "eH04X77wD71wU907",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the Variety-wise Daily Market Prices Data of Commodity\n",
        "url": "https://api.data.gov.in/resource/35985678-0d79-46b4-9ed6-6f13308a1d24",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "filters[State]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"
            },
            {
              "name": "filters[District]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"
            },
            {
              "name": "filters[Commodity]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"
            },
            {
              "name": "filters[Arrival_Date]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        0,
        512
      ],
      "id": "2a59b571-ce70-45ae-8cd2-46773527d8f5",
      "name": "GetCommodityPrice",
      "credentials": {
        "httpQueryAuth": {
          "id": "eH04X77wD71wU907",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns vectors from Chroma database.",
        "method": "POST",
        "url": "http://backend:8000/api/icar/query",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "top_k",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        496,
        576
      ],
      "id": "516a9af2-8473-4a8f-af42-844501cac172",
      "name": "queryVectorDB"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns vectors from Chroma database.",
        "method": "POST",
        "url": "http://backend:8000/api/datagovin/query",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "top_k",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        976,
        496
      ],
      "id": "ea5f5f72-5e3b-4a38-bc78-ba8cbf465bfa",
      "name": "queryFinanceVectorDB"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "Weather & Geo Location Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crop & Agri Assistant1": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "Market Price Retriever1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Market Price Retriever1": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Policy & Finance Assistant1": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Weather & Geo Location Agent1": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Policy & Finance Assistant1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Crop & Agri Assistant1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Market Price Retriever1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Weather & Geo Location Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetMandiPrice": {
      "ai_tool": [
        [
          {
            "node": "Market Price Retriever1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetCommodityPrice": {
      "ai_tool": [
        [
          {
            "node": "Market Price Retriever1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "queryVectorDB": {
      "ai_tool": [
        [
          {
            "node": "Crop & Agri Assistant1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "queryFinanceVectorDB": {
      "ai_tool": [
        [
          {
            "node": "Policy & Finance Assistant1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ed0a4149-f119-4d4a-96a9-bea1d3f73073",
  "meta": {
    "instanceId": "9c05f17a606be671fdb86c1260916797cfd6705c991a7fca68ea6474d55c45cc"
  },
  "id": "1mhQvZFwPTEIToP4",
  "tags": []
}