workflows/AgriVerse-n8n-Workflow-Groq-Disease.json
{
  "name": "AgriVerse-n8n-Workflow-Groq-Disease",
  "nodes": [
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns vectors from Chroma database.",
        "method": "POST",
        "url": "http://backend:8000/api/icar/query",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "top_k",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1232,
        112
      ],
      "id": "877be031-6463-4b45-989f-f973a34f6db2",
      "name": "queryVectorDB"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the Variety-wise Daily Market Prices Data of Commodity\n",
        "url": "https://api.data.gov.in/resource/35985678-0d79-46b4-9ed6-6f13308a1d24",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "filters[State]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"
            },
            {
              "name": "filters[District]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"
            },
            {
              "name": "filters[Commodity]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"
            },
            {
              "name": "filters[Arrival_Date]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        736,
        48
      ],
      "id": "eeb0b8c9-3d70-4409-b888-31b76333711a",
      "name": "GetCommodityPrice",
      "credentials": {
        "httpQueryAuth": {
          "id": "eH04X77wD71wU907",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns the Current Daily Price of Various Commodities from Various Markets (Mandi)",
        "url": "https://api.data.gov.in/resource/9ef84268-d588-465a-a308-a864a43d0070",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "limit",
              "value": "10"
            },
            {
              "name": "filters[state.keyword]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"
            },
            {
              "name": "=filters[district]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"
            },
            {
              "name": "filters[commodity]",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true,
        "dataField": "="
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        512,
        48
      ],
      "id": "15101ff6-d203-4468-bc8f-26376b4fec98",
      "name": "GetMandiPrice",
      "credentials": {
        "httpQueryAuth": {
          "id": "eH04X77wD71wU907",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "my-endpoint",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {
          "binaryPropertyName": "file",
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -576
      ],
      "id": "80caf056-9085-48d0-800f-9a69db43b7d1",
      "name": "Webhook",
      "webhookId": "917a0ff6-ed11-41b3-956d-bc797c1ecf14",
      "notesInFlow": false
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -368,
        -192
      ],
      "id": "8468727b-a092-499c-9027-7e6568455197",
      "name": "Think"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('System_Message', ``, 'string') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -16,
        -128
      ],
      "id": "1cd3a409-f8ac-488a-b9a6-3244ec21ee1a",
      "name": "Weather & Geo Location Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Query:\n{{ $json.message }}\n\nImage Analysis Results:\n{{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "<role> You are the Orchestrator Agent, a specialized AI system that coordinates multiple agricultural assistant agents. Your role is to understand the user’s query, decide which specialized agent(s) to call, gather their outputs, and deliver a clear, concise, and reliable agricultural advisory response. </role>\n\n<instructions>\n\n<core_instruction>\nStep 1: Always translate the user’s input into English first, regardless of whether it is in Hindi, Punjabi, Hinglish, or any other language. After translation, proceed with the remaining steps.\n</core_instruction>\n\n<goal>\nYour primary goal is to provide actionable, fact-based advice by intelligently combining the strengths of different agents. You must:\n- Route weather-related queries to the Weather & Geo Location Agent.\n- Route market price queries to the Market Price Retriever.\n- Route soil/crop practice queries to the Crop & Agri Assistant.\n- Route policy, subsidy, or finance queries to the Policy & Finance Assistant.\n- Use provided image analysis results for crop/leaf image disease detection, plant health inspection, image-based diagnosis, uploaded leaf images, or image classification requests.\n- When queries span multiple domains (e.g., “Which crop should I grow in loamy soil in Dehradun, and what’s the current mandi price for it?” OR “Check this leaf disease and tell treatment and today’s weather risk”), combine the outputs from multiple agents before responding.\n</goal>\n\n<context>\n\nYou coordinate specialized agents:\n\nWeather & Geo Location Agent – Uses OpenWeather API to provide real-time & forecast weather.  \nMarket Price Retriever – Fetches mandi and commodity prices.  \nCrop & Agri Assistant – Uses queryVectorDB to suggest suitable crops and agricultural practices.  \nPolicy & Finance Assistant – Finds relevant schemes, policies, and financial aid.  \nImage Analysis Results – Precomputed crop disease image classification output containing probable crop name, disease/healthy status, and confidence scores.\n\nMandatory rules:\n\nSmart Routing: Always send the query to the most relevant agent(s).\n\nIf the request is about an uploaded image or plant disease image, use the provided Image Analysis Results as the source of truth first, then perform further reasoning or call other relevant agents if needed.\n\nIf image analysis results are available, use them for crop name, disease name, healthy/diseased status, and confidence.\n\nFor mixed image + advisory queries, first use the provided image results, then route diagnosis output to Crop & Agri Assistant and/or Weather Agent if needed.\n\nIf only text is given and no image results are present, work normally using the relevant agents based on the user query.\n\nStrict Accuracy:\nDo not generate market prices, weather forecasts, subsidies, locations, or any factual data unless returned by the relevant connected agent/tool.\n\nIf only image analysis results are available, respond only with:\n- diagnosis\n- confidence\n- practical prevention/treatment guidance\n- request for clearer image if needed\n\nNo Assumptions: If critical details (like soil type, location, crop name, or image clarity) are missing, ask the user for clarification before proceeding.\n\nSingle Source of Truth: Only use responses from connected agents/tools or provided image results; do not invent or hallucinate.\n\nConciseness: Keep responses short, useful, and actionable. Avoid unnecessary theory or long explanations.\n\nConflict Handling: If different agents provide conflicting outputs, state the limitations and highlight the most reliable recommendation.\n\nLow Confidence Handling: If provided image results show confidence below 80% or uncertain diagnosis, clearly mention uncertainty and ask user for a clearer image or multiple angles.\n\n</context>\n\n<output_format>\n\nDirect Answer First: Start with the most relevant, concise recommendation.\n\nIf image query example:\n“The uploaded leaf most likely shows Tomato Early Blight with 94% confidence.”\n\nIf text query example:\n“Given Dehradun’s forecasted rainfall, paddy is a suitable crop.”\n\nStructured Support:\nUse short bullet points when helpful:\n- Crop\n- Disease status\n- Confidence\n- Next steps\n- Relevant advisory\n\nTone: Professional, factual, confident, and farmer-friendly.\n\nAlso if the input is in Hindi you will ans in hindi !very Important - Match the input language in output\n\n</output_format>\n\n</instructions>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        736,
        -464
      ],
      "id": "0573c7a0-9724-47e9-98c2-4d9ccaf4f765",
      "name": "Orchestrator Agent",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a helpful AI Policy and Finance assistant that provides advice on how to manage your expenses and latest agriculture related schemes and plociies provided by the Indian Government.\n\nPass the user query to queryFinanceVectorDB and give appropriate output from it."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1520,
        -176
      ],
      "id": "2a27b1fe-97a1-4a24-9bf4-71c76c0d5f03",
      "name": "Policy & Finance Assistant"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a Market Price Retriever agent. Your task is to fetch the current mandi and commodity prices based on the user's query. Provide the price for the specified commodity in the given location\n\nFor getMandiPrice\nAkways pass the State first, then district and at last the commodity\nfor example: \nquery: What is the current mandi price for tomato in Ludhiana, Punjab?\npass it as: Punjab, Ludhiana, Tomato"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        464,
        -176
      ],
      "id": "9aae456c-726c-41c4-a020-8317bab7ddae",
      "name": "Market Price Retriever"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        624,
        16
      ],
      "id": "3691c780-20cb-4191-9bd3-1704ae3248c3",
      "name": "Calculator"
    },
    {
      "parameters": {
        "content": "",
        "height": 544,
        "width": 496,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -192
      ],
      "typeVersion": 1,
      "id": "777935c9-65dc-406e-9cfe-dbaaaba9bb52",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 544,
        "width": 496,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        -192
      ],
      "typeVersion": 1,
      "id": "c833457a-a967-4d94-984d-93bdb38489d6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 544,
        "width": 496,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        -192
      ],
      "typeVersion": 1,
      "id": "4fd5603a-aaea-4a83-a0b2-37beea20195e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "",
        "height": 544,
        "width": 496,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -192
      ],
      "typeVersion": 1,
      "id": "8e273cac-2989-4053-babc-3c30928084d0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are a helpful AI agricultural assistant that provides advice on crop varieties based on weather conditions.\n\nFor example:\nfor query like: Given the current weather in Delhi (overcast clouds, 29.63°C, 67% humidity, 4.83 m/s wind), what variety of rice should I go for?\n\nPass something like this to the queryVectorDB -> pass it like this: what variety of rice should I go for with weather having and overcast humidity?"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1024,
        -128
      ],
      "id": "370c51a0-ce96-456b-a0f9-382eb27035eb",
      "name": "Crop & Agri Assistant"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and returns vectors from Chroma database.",
        "method": "POST",
        "url": "http://backend:8000/api/datagovin/query",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "top_k",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1712,
        32
      ],
      "id": "b763598f-a4bc-45e3-b6ab-6253c48a1fb9",
      "name": "queryFinanceVectorDB"
    },
    {
      "parameters": {
        "operation": "5DayForecast",
        "cityName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        176,
        96
      ],
      "id": "96480039-5454-4a3d-a4e7-367f1985df2a",
      "name": "OpenWeatherMap1",
      "alwaysOutputData": false,
      "credentials": {
        "openWeatherMapApi": {
          "id": "ClwNU3GOz0i0BbAa",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -512,
        -224
      ],
      "id": "05d3ed18-c6f9-41f7-bd99-8804ed15cc19",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "MtV3AREYxYQJd4NK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -48,
        112
      ],
      "id": "87a96691-85a4-4c6b-a8b5-fd07165130ae",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "MtV3AREYxYQJd4NK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        416,
        224
      ],
      "id": "3a0c40f8-4521-4d2c-81e4-1f4ec6d43bf2",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "MtV3AREYxYQJd4NK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1008,
        112
      ],
      "id": "616cade6-cbec-4395-82da-0f16e85384ed",
      "name": "Groq Chat Model3",
      "credentials": {
        "groqApi": {
          "id": "MtV3AREYxYQJd4NK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1504,
        48
      ],
      "id": "3f0b041d-3347-4040-9b71-465839147460",
      "name": "Groq Chat Model4",
      "credentials": {
        "groqApi": {
          "id": "MtV3AREYxYQJd4NK",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/diseaseclassify/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        -880
      ],
      "id": "12b6509d-73d1-4848-853c-5e7c1a1759a4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74c41ebb-589b-452c-8187-d61aafee6b61",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -688
      ],
      "id": "b2f1e192-0467-4f06-b41b-4054c8f25e63",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        -800
      ],
      "id": "dc551d41-47fa-4aa7-85a2-3dde34d83272",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "07395516-7ea1-4e91-b595-db3ec0f5b9a1",
              "leftValue": "={{ $binary.file0 !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -64,
        -576
      ],
      "id": "b60430f8-7819-42f3-88b3-c290e2f64fb1",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "queryVectorDB": {
      "ai_tool": [
        [
          {
            "node": "Crop & Agri Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetCommodityPrice": {
      "ai_tool": [
        [
          {
            "node": "Market Price Retriever",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetMandiPrice": {
      "ai_tool": [
        [
          {
            "node": "Market Price Retriever",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Weather & Geo Location Agent": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Policy & Finance Assistant": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Market Price Retriever": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Market Price Retriever",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crop & Agri Assistant": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "queryFinanceVectorDB": {
      "ai_tool": [
        [
          {
            "node": "Policy & Finance Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap1": {
      "ai_tool": [
        [
          {
            "node": "Weather & Geo Location Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Weather & Geo Location Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Market Price Retriever",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Crop & Agri Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Policy & Finance Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Agent": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ee02dc93-b0a5-430f-ab1d-43ddfa8921c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c05f17a606be671fdb86c1260916797cfd6705c991a7fca68ea6474d55c45cc"
  },
  "id": "5ZfMcWjwPB9MKbLR",
  "tags": []
}